@model IEnumerable<POSRestWebPlateform.Model.MenuCatagory>
@{
    ViewBag.Title = "Index";
    List<POSRestWebPlateform.Model.Menu> MenuList = (List<POSRestWebPlateform.Model.Menu>)ViewBag.MenuList;
}

<section id="menu" class="section bg-light-1">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <div class="overflow-hidden mb-3">
                    <h2 class="font-weight-bold text-5 mb-0 appear-animation" data-appear-animation="maskUp">Menu</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            @foreach (var Catagory in Model)
            {
                <div class="col-md-6 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                    <h3 class="custom-font-1 font-weight-bold text-color-primary text-5 mb-3">@Catagory.Name</h3>
                    <div class="food-menu mb-4">
                        @foreach (var M in (from m in MenuList
                                          where m.MenuCatagoryId == Catagory.Id
                                          select m))
                        {
                            <div class="menu-item py-3" style="margin:5px;padding:12px; background:#e9e9e9;">
                                <div class="menu-item-title d-flex align-items-center">
                                    <h4 class="font-secondary font-weight-bold w-100 mb-0">@M.Name</h4>
                                    <strong class="menu-item-price text-center text-color-primary font-weight-semibold text-5">
                                        @Convert.ToInt32(M.Price)
                                </strong>
                                </div>
                                <hr />
                                <div class="menu-item-description">
                                    @*<p class="mb-0 pr-5"></p>*@

                                    <div class="shop-cart d-flex align-items-stretch">
                                        <div class="quantity">
                                            <input type="button" value="-" class="minus">
                                            <input type="number" step="1" min="1" name="quantity" id="quantity-@M.Id" value="1" title="Qty" class="qty" size="2">
                                            <input type="button" value="+" class="plus">
                                        </div>
                                        <button onclick="addToCart('@M.Id')" class="add-to-cart btn btn-dark btn-rounded font-weight-semibold btn-v-3 btn-h-2 btn-fs-2 ml-3">
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    function addToCart(menuid) {
        var dataparam = new FormData();
        dataparam.append("Id", menuid);
        dataparam.append("Quantity", $("#quantity-" + menuid).val());
        $.ajax({
            type: "POST",
            url: "/Home/AddToCart",
            data: dataparam,
            contentType: false, // Not to set any content header
            processData: false,
            success: function (msg) {
                if (msg == true) {
                    $('#cart-list').load('/Home/SmallCart');
                    console.log("Added");
                } else {
                    console.log("Not Added");
                }
            }
        });
    }
</script>
